.cart{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.cart_list{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1%;
}

.cart_empty{
    font-size: 1.5rem;
}

.cart_list_total{
    font-size: 1.5rem;
    width: 50%;
}