.create{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.create_form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin: 1%;
}

.create_form_input{
    width: 50%;
    padding: 0.5%;
    margin: 1%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 0.5px solid black;
}

.create_form_button{
    width: 50%;
    margin: 2%;
    padding: 1%;
    background-color: rgb(166, 147, 212);
    border: 1px solid grey;
    border-radius: 5%;
}

.create_form_button:hover{
    font-weight: bold;
}